# Dependencies
node_modules/
.pnpm-store/
.pnp
.pnp.js

# Turborepo
.turbo/

# Testing
coverage/

# Next.js
.next/
out/
apps/web/.next/
apps/web/out/

# NestJS & Build Outputs
dist/
build/
apps/api/dist/
packages/*/dist/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env*.local
apps/api/.env
apps/web/.env.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
