# Environment variables for NestJS Backend and Neon DB

# Server Port
PORT=4000

# Neon DB Connection Strings:
# DATABASE_URL is the pooled connection string (with ?sslmode=require) for queries
# e.g., postgresql://[user]:[password]@[endpoint]-pooler.[region].aws.neon.tech/[dbname]?sslmode=require
DATABASE_URL="postgresql://user:password@ep-sample-pooler-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# DIRECT_URL is the unpooled / direct connection string (without -pooler) used for Prisma migrations
# e.g., postgresql://[user]:[password]@[endpoint].[region].aws.neon.tech/[dbname]?sslmode=require
DIRECT_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

